.education {
    margin-bottom: 20px;
    .title {
        @include sub-header;
    }
    .education-item {
        margin-bottom: 20px;
        .degree {
            @include body-text;
            font-weight: bold;
        }
        .university {
            @include body-text;
            a {
                text-decoration: none;
                @include body-text;
                &:hover {
                    text-decoration: underline;
                }
            }
        }
        .time {
            @include body-text;
        }
    }
}